body {
    background: lightgrey;
}
#topics {
    margin-bottom: 12px;
    height: 50px;
}
.topicBtn {
    background: teal;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}
.topicBtn:focus {
    background: olive;
}
.topicSearchBtn {
    background: teal;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}
#topicGif {
    width: 80%;
    max-width: 66%;
    display: inline-block;
    min-height: 500px;
}
#searchGif {
    display:inline-block;
    width: 20%;
    float: right;
    margin: 5px;
}
#searchTopic {
    
}
.gifRepo {
    display: inline-block;
    margin: 5px;
}
h1, h5 {
    text-align: center;
}